In [1]:
import numpy as np
import pandas as pd

In [2]:
label1 = {
    "brands" : ['bmw' , 'audi' , 'volvo' , 'mercedes' , 'toyota'],
    "color" : ['red' , 'blue' , 'grey' , 'black' , 'purple'],
    "model" : ['X7' , 'A4' , 'xc90' , 'amg' , 'fortuner'],
    "fuel_type" : ['petrol' , 'petrol' , 'diesel' , 'petrol' , 'diesel'],
}

In [3]:
df = pd.DataFrame(label1)

In [4]:
df

     brands   color     model fuel_type
0       bmw     red        X7    petrol
1      audi    blue        A4    petrol
2     volvo    grey      xc90    diesel
3  mercedes   black       amg    petrol
4    toyota  purple  fortuner    diesel

In [5]:
df.to_csv('cars.csv' , index = False)

In [6]:
cars = pd.read_csv('cars.csv')

In [7]:
cars

     brands   color     model fuel_type
0       bmw     red        X7    petrol
1      audi    blue        A4    petrol
2     volvo    grey      xc90    diesel
3  mercedes   black       amg    petrol
4    toyota  purple  fortuner    diesel

In [8]:
cars['color'][0]

'red'

In [9]:
cars['model'][3] = 'c_class'

In [10]:
cars

     brands   color     model fuel_type
0       bmw     red        X7    petrol
1      audi    blue        A4    petrol
2     volvo    grey      xc90    diesel
3  mercedes   black   c_class    petrol
4    toyota  purple  fortuner    diesel

In [11]:
cars.index = ['first' , 'second' , 'third' , 'fourth' , 'fifth']

In [12]:
cars

          brands   color     model fuel_type
first        bmw     red        X7    petrol
second      audi    blue        A4    petrol
third      volvo    grey      xc90    diesel
fourth  mercedes   black   c_class    petrol
fifth     toyota  purple  fortuner    diesel

In [14]:
ser = pd.Series(np.random.rand(30))

In [15]:
ser

0     0.178297
1     0.301828
2     0.205977
3     0.739686
4     0.274521
5     0.996674
6     0.312850
7     0.919862
8     0.721738
9     0.432927
10    0.659115
11    0.718965
12    0.194589
13    0.800028
14    0.024749
15    0.915760
16    0.518510
17    0.044874
18    0.572291
19    0.246027
20    0.813966
21    0.817083
22    0.525181
23    0.719005
24    0.331441
25    0.471943
26    0.154096
27    0.044374
28    0.245987
29    0.558945
dtype: float64

In [16]:
type(ser)

pandas.core.series.Series